/*Variables*/

/* store repeated colour values */
$primary-colour: #222;
$accent-colour: #55d6aa;
$text-colour:white;

/*text */
/*Map containing font-sizes */
$font-size-map: (
    "regular": 2vw, /*vw to make text size responsively */
    "medium": 3vw,
    "bold": 4vw
);