/*imports patrial scss files into main stylesheet */
* {
  margin: 0px;
  padding: 0px;
}

/*Variables*/
/* store repeated colour values */
/*text */
/*Map containing font-sizes */
/*========
  Nav bar 
  ========*/
/*sets width of banner class to take up the whole browser and sets the background colour to a light green */
/*sets position to fixed so that when you scroll down the nav bar will stay at the top of the webpage */
/*sets z-index to 10 so it will cover any other elements when you scroll down */
.banner {
  width: 100%;
  margin: 0 auto;
  background-color: #55d6aa;
  position: fixed;
  z-index: 10;
}

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Removes whitespace between elements*/
  margin: 0 auto;
}

.banner li {
  display: inline-block;
  /* places list elements on the same line and allows me to set a height and width of the element */
  font-size: size(regular);
  /* will resize the font size */
  width: 25%;
}

.banner a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  /* Removes all decoration from the links */
  text-align: center;
  color: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  /* used to increase the clickable space around the text to activate the link */
}

.current-page {
  background-color: #222;
}

.current-page a {
  color: white;
}

/*changes background colour of list item to match the rest of the pages background colour wh */
.banner li:hover {
  background-color: #222;
}

/* selects link child of banner list-item while mouse is hovering and changes the text color to white */
.banner li:hover > a {
  color: white;
}

/*Functions */
/*function that returns the input font-size using the map-get function */
/*fixes*/
/*
1. Global styles
2. Nav bar
3. Header
4. Image
5. Section
6. Footer


*/
/* sets all the text in the body to use Lato font from google fonts website which is linked in html files (will display in sans-serif if the browser cannot load Lato) */
body {
  height: 1080px;
  font-family: 'Lato', sans-serif;
  background-color: #222;
  padding-bottom: 50px;
}

/*========
  Header
  ========*/
header {
  position: relative;
  top: 100px;
  /*Moves the element down 100px relative to its defaualt position*/
  text-align: center;
}

header h1 {
  padding-top: 30px;
  color: white;
  font-size: 4vw;
}

header p {
  color: white;
  padding: 40px 100px;
  /*top and bottom padding is 40px and left and right is 100px*/
  font-size: 2vw;
}

/* Background Image styles */
.bg-img {
  height: 1200px;
  background-image: url("../resources/creepy.jpg");
  /*adds image as background image */
  background-repeat: no-repeat;
  /*stops the background image from repeating */
  -webkit-filter: blur(100px) brightness(0.2);
          filter: blur(100px) brightness(0.2);
  /* adds a filter that blurs the picture and makes it darker */
}

.story-title h1,
.story-title p {
  position: relative;
  bottom: 1200px;
  /* moves the elements up 1200px relative to their original position */
  background-color: rgba(0, 0, 0, 0.4);
  /*seethrough black background*/
  font-weight: bold;
  color: white;
  opacity: 1;
}

span {
  color: white;
  opacity: 0;
  /*takes the transition 1 second to smoothly change  */
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

span.animate {
  color: white;
  opacity: 1;
  /*adds a red text shadow to the spand elements within the story header  when animate class gets added*/
  text-shadow: red 3px 3px 10px;
}

/*moves page-2 and page-3 text sections down 20px from the ancestor element */
#page-2,
#page-3 {
  position: absolute;
  top: 20px;
}

/*moves buttons on page 2 down 250px relative to their original position */
#nav-page-2 {
  position: relative;
  top: 250px;
}

/*========
    Image
  ========*/
/*positioned and set color and size of figcations */
figcaption {
  position: relative;
  right: 40px;
  font-size: 2vw;
  color: white;
}

img.main-picture {
  display: block;
  /*displays on new line and takes up whole width */
  margin: 0 auto;
  /* createds a margin of 0px on the top and bottom of the element and auto to center image within container */
  width: 50%;
  /* gives the image a witdth of 50% of the page */
  padding-top: 140px;
  height: 750px;
}

.credit-page {
  width: 100%;
}

figure.book,
figure.portrait,
figure.sunset {
  float: left;
  padding: 2rem;
  width: 33.3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

/*changes the book, portait and image pixels to have a height of 300px */
.book img,
.portrait img,
.sunset img {
  height: 20rem;
  width: 20rem;
}

/*=========
  Main
  =========*/
main {
  width: 100%;
  margin: 0;
}

main p {
  color: white;
  padding: 40px 100px;
  font-size: 2vw;
}

/*.main-aside-wrapper {
    display: flex;
}

main.homepage,
aside {
    @include sidebar-display;
    font-size: 1rem;
}


*/
h2 {
  text-align: center;
  font-size: 4rem;
}

main.homepage {
  float: left;
  width: 65%;
}

main.homepage p {
  font-size: 2rem;
}

aside {
  text-align: center;
  width: 35%;
  float: right;
}

div.form-border {
  background: #3e75af;
  height: 40rem;
}

input {
  width: 40%;
  height: 3rem;
  text-align: center;
  display: inline;
  margin: 1rem 4rem;
  border-radius: 2rem;
}

button {
  display: block;
  margin: 3rem auto;
  height: 4rem;
  width: 30%;
  border-radius: 10px;
  background-color: #222;
  color: white;
}

div.form-border,
main.homepage {
  position: absolute;
  top: 20rem;
  /* Moves the div form-border and main homepage elements down 20px from the top */
  margin: 0 4rem 2rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: groove;
}

#id {
  padding: 5rem;
}

/*aligns the elements */
.useful-links {
  text-align: center;
}

.offpage-links ul {
  list-style-type: none;
  /* removes bullet points from the list within the class offpage-links*/
}

/*removes text decorations of links within the about section and on the useful links page */
.bio a,
.offpage-links a {
  text-decoration: none;
  font-size: 2rem;
  color: #55d6aa;
}

/*adds underline when hovering over links on useful links page and link in the about section */
.bio a:hover,
.offpage-links a:hover {
  text-decoration: underline;
}

/*figure containing image*/
.edgar {
  float: left;
  padding-left: 100px;
  padding-right: 40px;
  position: relative;
  top: 100px;
}

.edgar img {
  margin: 0;
  height: 20rem;
}

/*moves the paragraph elements on the bio page down 100px */
.bio p {
  position: relative;
  top: 1rem;
}

#page-2,
#page-3 {
  padding-top: 150px;
}

#page-1 {
  position: absolute;
  top: 20rem;
}

/*=========
  Footer 
  =========*/
footer.nav-buttons {
  padding-bottom: 200px;
}

.nav-buttons {
  position: relative;
  top: 50px;
}

/*styles the page navigation buttons */
.nav-buttons a {
  margin-bottom: 50px;
  /* gives a margin of 50px to the bottom of the link elements */
  padding: 30px 70px;
  /*gives padding of 30px to the top and bottom and 70px to the left and right of the link elements */
  background-color: #55d6aa;
  text-decoration: none;
  /* removes underline from links */
  color: #222;
  border-radius: 25px;
  /*makes the corners of the buttons round*/
  /* Adds raidal gradient to nav buttons so it gets lighter as it oes into the center */
  background-image: radial-gradient(#55d6aa, #1e614b);
  /*& is parent element so in this case it will change .nav-buttons a when it is being hovered*/
  /*Adds a balck box shadow which is 5px on bottom and right and fades over 5px while the user isn't hovering over the nav button*/
  /* changes text colour when page buttons are licked on */
}

.nav-buttons a:hover {
  background-image: radial-gradient(#2c775e, #001806);
  /*has a darker gradient when the user hovers over the button */
  -webkit-box-shadow: inset 5px 5px 5px black;
          box-shadow: inset 5px 5px 5px black;
}

.nav-buttons a:not(:hover) {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.nav-buttons a:active {
  color: white;
}

/*floats link with class next to the right and adds a margin with 100px to the right of the link so it isn't placed on the edge of the screen */
.next {
  float: right;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

/*floats link with class previous to the left and adds a margin with 4 * rem to the left of the link so it isn't placed on the edge of the screen */
.previous {
  float: left;
  margin-left: 4rem;
}

/* insets the box shadow when the user hovers over it to make it look like the button has been pressed down */
/*Footer*/
footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 3rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */