
/* table of contents

1. Global styles
2. Nav bar
3. Header
4. Image
5. Section
6. Footer

*/

/*============
  Global styles
  ============*/
/* sets all elements to have no margins or padding */
*{
    margin: 0px;
    padding: 0px;
}

/* sets all the text in the body to use Lato font which is linked in html files */
body {
    font-family: 'Lato', sans-serif;
    background-color: #222;
}

/*========
  Nav bar 
  ========*/

/*sets width of banner class to take up the whole browser and sets the background colour to a light green */
/*sets position to fixed so that when you scroll down the nav bar will stay at the top of the webpage */
/*sets z-index to 10 so it will cover any other elements when you scroll down */
.banner {
    width: 100%;
    background-color: #55d6aa;
    position: fixed;
    z-index: 10;

}

.banner ul {
    
    display: flex; /*Removes whitespace between elements*/
  }


.banner li {
    display: inline-block; /* places list elements on the same line and allows me to set a height and width of the element */
    font-size: 2rem;
    padding: 30px;
}

.banner a {
    text-decoration: none; /* Removes all decoration from the links */
    color: #222;
    padding: 30px; /* used to increase the clickable space around the text to activate the link */

}

.current-page {
    background-color: #222;

}

.current-page a{
    color: white;
}

/*changes background colour of list item to match the rest of the pages background colour wh */
.banner li:hover {

    background-color: #222;     

}

/* selects link child of banner list-item while mouse is hovering and changes the text color to white */ 
.banner li:hover > a{
    color: white;
    
}

/*========
  Header
  ========*/

header {
    position: relative;
    top: 100px; /*Moves the element down 100px relative to where it was originally placed */
    text-align: center;
}

header h1 {
    padding-top: 30px;
    color: white;
    font-size: 4rem;
}

header p {
    color: rgb(158, 158, 158);
    padding: 40px 100px;/*top and bottom padding is 40px and left and right is 100px*/
    font-size: 2rem;
}

/*========
    Image
  ========*/    
img.book {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 140px;
    height: 750px;
}



/*=========
  Section 
  =========*/

section{
    padding-top: 100px;
  }

section p {
    color: rgb(158, 158, 158);
    padding: 40px 100px;
    font-size: 2rem;
}
.useful-links p,
.offpage-links li {
    text-align: center;
}


.offpage-links a {
    text-decoration: none;
    font-size: 2rem;
    color:#55d6aa

}

.offpage-links a:hover {
    text-decoration: underline;

}

#page-2,
#page-3 {
    padding-top: 150px;
}
/*=========
  Footer 
  =========*/


.nav-buttons a {
    margin-bottom: 50px;
   
    padding: 30px 70px;
    background-color: #55d6aa;
    text-decoration: none; /* removes underline from links */
    color: #222;
    border-radius: 25px; /*makes the corners of the buttons round*/
   
}

.next {
    float: right;
    margin-right: 100px; 
}

.previous {
    float: left;
    margin-left: 100px;
}
.nav-buttons a:not(:hover) {
    box-shadow: 5px 5px 5px black;
}

.nav-buttons a:hover {
    background-color: #2c775e;
    box-shadow: inset 5px 5px 5px black;
}

/* changes text colour while page buttons are active */
.nav-buttons a:active {
    color: white;
}