@import "./base-styles.css";


main {
    grid-area: 3 / 2 / span 4 /span 6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    text-align: center;
    background-color: #222
}

article {
    padding: 2rem 5rem;
    border: 2px solid white;
    height: 100%;
}

article p {
    padding: 1rem 3rem;
    line-height: 1.5;
    font-size: 1vw;
}